<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="/login" method="post">
    <div style="text-align: center;"><label for="Login">Login:</label> <input id="Login" name="username" placeholder="Enter login" required="" type="text" /></div>
    <br />
    <div style="text-align: center;"><label for="password">Password:</label> <input id="password" name="password"  placeholder="Enter password" required="" type="password" /></div>
    <br />
    <div style="text-align: center;" >
        <button type="submit">Login</button>
    </div>
</form>


</body>
</html>